In [19]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB

In [2]:
import pandas as pd
df=pd.read_csv('spam_ham_dataset.csv')
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
print (df)

      Unnamed: 0 label                                               text  \
0            605   ham  Subject: enron methanol ; meter # : 988291\r\n...
1           2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2           3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3           4685  spam  Subject: photoshop , windows , office . cheap ...
4           2030   ham  Subject: re : indian springs\r\nthis deal is t...
...          ...   ...                                                ...
5166        1518   ham  Subject: put the 10 on the ft\r\nthe transport...
5167         404   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168        2933   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169        1409   ham  Subject: industrial worksheets for august 2000...
5170        4807  spam  Subject: important online banking alert\r\ndea...

      label_num
0             0
1             0
2             0
3             1
4             0
...         ...
5166          0
5167          0
5168          0
5169          0
5170          1

[5171 rows x 4 columns]

In [4]:
data= df.where((pd.notnull(df)),'')

In [5]:
data.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [7]:
df=pd.read_csv('spam_ham_dataset.csv')
df['spam'] = df['label'].apply(lambda x:1 if x =='spam' else 0)
df.head()

,Unnamed: 0,label,text,label_num,spam
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,0

# inputs= df.drop('label' , axis=' columns')
#inputs.describe()

In [30]:

from sklearn.model_selection import train_test_split
df=pd.read_csv('spam_ham_dataset.csv')
x_train, x_test,y_train,y_test=train_test_split(df.text,df.label_num,test_size=0.2)
len(x_train)

4136

In [9]:
len(x_test)

1035

In [31]:
x_train.values

array(['Subject: mobile charset = us - ascii " >\r\nplease note that we experienced a technical fault with\r\nour email server and have not received your emails since 22 nd july\r\ntill lst august . please resend all your emails , sent during the\r\ndates mentioned . sorry for the\r\ninconvenience .\r\nmanagement\r\ncomputron .\r\nbluetooth\r\n$ 38 . 50\r\n$ 59 . 00\r\nbluetoothheadset\r\nbluetooth landline ( desktop ) telephony\r\nconnect this\r\nblue tooth headset and enjoy wireless mobility with\r\nbluetooth technology . it features bluetooth vl . 1 compliant ,\r\n2 . 5 hours of talk time , 240 hours standby , and fits\r\ncomfortably on either side of your ear . simply pair the\r\nheadset with the phone or mobile , add it to the pairing list\r\nin the phone , and you \' re ready to answer or make a call .\r\nget hands - free control without the hassle of\r\ncords .\r\nuse your bluetooth wireless headset with any land\r\nline ( desktop ) phone ! this bluetooth telephony base is\r\nbluetooth specification vl . 1 compliant and has an operating\r\nrange of up to 10 meters ( 32 . 80 feet ) . it features one voice\r\nchannel and has security features that provide authorization\r\nand authentication . to use this device with any bluetooth\r\nwireless headset , simply set it and your headset in pairing\r\nmode and you \' re ready to answer or make a call . get yours\r\ntoday from\r\ncomputron !\r\nvisit : http : / / www . computron - me . com for deals\r\n!\r\nyour one stop / office # td\r\n01 , jebel ali duty free zonedubai , uae . www . computron - me . com\r\nfor latest clearance sale listing contact our\r\nsales department .\r\nfor further details please send\r\nyour enquiries to : dealers @ emirates . net . aeor contact via www . computron - me . com\r\ncompaq\r\nhewlett packard\r\n3 com\r\ndell\r\nintel\r\niomega\r\nepson\r\naopen\r\ncreative\r\ntoshiba\r\napc\r\ncisco\r\nus\r\nrobotics\r\nmicrosoft\r\ncanon\r\nintellinet\r\ntargus\r\nviewsonic\r\nibm\r\nsony\r\n- - - - - - - and lots more\r\n! ! !\r\nif you have any\r\ncomplaints / suggestions contact : customerservice @ computron - me . com\r\ntel + 971 4\r\n8834464\r\nall prices in u . s . dollars , ex - works ,\r\nfax + 971 4\r\n8834454\r\njebel ali duty free zone\r\nwww . computron - me . com\r\nprices and availability subject to change\r\nusa -\r\ncanada u . a . e .\r\nwithout\r\nnotice .\r\nto receive our special offers\r\nin plain\r\ntext format reply to this\r\nmail with the request * for\r\nexport only *\r\nthis\r\nemail can not be considered spam as long as we include : contact\r\ninformation remove instructions . this message is intended for dealer\r\nand resellers only . if you have somehow gotten on this list in error , or\r\nfor any other reason would like to be removed , please reply with " remove\r\n" in the subject line of your message . this message is being sent to you\r\nin compliance with the federal legislation for commercial e - mail\r\n( h . r . 4176 - section 101 paragraph ( e ) ( 1 ) ( a ) and bill s . 1618 title iii\r\npassed by the 105 th u . s . congress .\r\nall logos and\r\ntrademarks are the property of their respective\r\nowners\r\nproducts may not be exactly as shown\r\nabove\r\n- -\r\nto unsubscribe from : computron 6 , just follow this link :\r\nclick the link , or copy and paste the address into your browser .',
       'Subject: windows xp w / office xp for only $ 80 . haddad verified\r\npocketbooks buttons poetics clockwise gentle\r\nsymptomatic lining fall\r\ncasey eliminators besetting terrorize admirably\r\nmelons entrenched winnie\r\nnadir expends doped non\r\ncoeditor erred backtracker jungle\r\nasparagus fence confound hire macedonia\r\nniccolo renunciation buzzard precondition\r\ntickets acknowledged advisements\r\n',
       'Subject: best free adult personals\r\nsearching for best adult datlng slte ?\r\nclick h 3 re now and joln for fre 3 !\r\nno more',
       ...,
       "Subject: customer reciept # 4359 bn winkle\r\nsimply visti our site and let ' s see if we can make you happy ! we love to\r\nmake our customer ' s feel good and that is why we offer many options for\r\ndiscount plans on larger orders . we also have the most superior affiliates\r\nthat we work with to help work with you\r\nhttp : / / ejnwrf . starsnugglegreat . com / li /\r\nomega , rolex , ap , oris , gucci , cartier , breitling , tag , rado , iwc , tissto ,\r\nv . c , patek . p , mont blanc , bvgari , panerai , a . lange @ sohne , hermes , movado ,\r\nlongines , lv , maurice l , technomarine , christian dior , fendi , dkny , chanel ,\r\nbaune mercier , ebel , concord , corum , piaget , jaeger lec , chopard , girard - p ,\r\ntitoni , tudor , breguet , blancpain , franck muller , dunhill , versace , zenith ,\r\ncalvin klein\r\n( still i ' m thinking about you only ) there are moments when i think i ' m\r\ngoing crazy\r\ndispositio copernic fleenor zzo 4 dishan dedey\r\nit ' s got me trickin ' and it ' s got me treatin ' !\r\nso come on now and let your good stuff rain down on me\r\n",
       "Subject: shower your lover ( s ) with a fountain of sperm every time you ejaculate !\r\nour unique volume plll will turn you into a real man\r\nthat ejaculates up to 500 % more !\r\ncontains only natural ingredients and therefore\r\nyou do not need any physician ' s prescriptions !\r\nas an indication of its effectiveness , this plll\r\nhas been endorsed by a leading male porn star , bruno b .\r\norder it\r\nremove your email\r\n",
       'Subject: enron / hpl actuals for july 27 , 2000\r\nteco tap 25 . 000 / enron ; 48 . 750 / hpl iferc\r\nls hpl lsk ic 15 . 000 / enron'],
      dtype=object)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
V=CountVectorizer()
x_train_count=V.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 3, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)
emails=["Hey! what's up?",
       "Please take care",
       "Honesty is the best policy",
       "Get 10% off on tshirts",
       "I love me"]
emails_count=V.transform(emails)
model.predict(emails_count)

array([0, 0, 1, 0, 0], dtype=int64)

In [29]:

x_test_count=V.fit_transform(x_test)
model.score(x_test_count,y_test)

0.9951690821256038